<head>
   <link rel = "stylesheet" href="..\css\home.css"> 
</head>
   <body>
      <div id="log">
        <br>
        <form id = "up"> 

        <h1 style = "margin-bottom:50px"> <img src="images\music.png" width="60" height="60" alt="Natural" />Recently play Song </h1>
        <marquee behavior="scroll" direction="left" scrollamount="5">
                <h5>Harry Potter</h5>
                <img src="images\harryptter.jpeg" width="120" height="80" alt="Natural" />
              </marquee>
              <marquee behavior="scroll" direction="left" scrollamount="7">
                <h5>Twilight</h5>
                <img src="images\twilight.jpeg" width="120" height="80" alt="Natural" />
              </marquee>
              <marquee behavior="scroll" direction="left" scrollamount="5">
                  <h5>Padmatvat</h5>
                    <img src="images\padmatvat.png" width="120" height="80" alt="Natural" />
                  </marquee>
                  <marquee behavior="scroll" direction="left" scrollamount="7">
                      <h5>Half GirlFriend</h5>
                        <img src="images\halfjpg.jpg" width="120" height="80" alt="Natural" />
                      </marquee>
    </div>
    </form>
         </div>
        </body>
        </html>